<div>
  <div class="app-card">
    <div *ngIf="!isAuthorized" class="fields-box">
      <form [formGroup]="registerForm" class="card-content">
        <mat-form-field class="two-column-field first_row">
          <input matInput formControlName="first_name" placeholder="First name" required>
          <mat-icon class="input-icon">assignment</mat-icon>
        </mat-form-field>
        <mat-form-field class="two-column-field first_row">
          <input matInput formControlName="last_name" placeholder="Last name" required>
          <mat-icon class="input-icon">assignment</mat-icon>
        </mat-form-field>
        <mat-form-field class="two-column-field">
          <input matInput formControlName="email" placeholder="Primary contact email (login)" required>
          <mat-icon class="input-icon">mail</mat-icon>
        </mat-form-field>
        <mat-form-field class="two-column-field">
          <input matInput formControlName="website" placeholder="Your website page" required>
          <mat-icon class="input-icon">public</mat-icon>
        </mat-form-field>
        <mat-form-field class="two-column-field">
          <input matInput type="password" formControlName="password" placeholder="Password" required>
          <mat-icon class="input-icon">lock</mat-icon>
        </mat-form-field>
        <mat-form-field class="two-column-field">
          <input matInput type="password" formControlName="confirm_password" placeholder="Password re-enter" required>
          <mat-icon class="input-icon">lock</mat-icon>
        </mat-form-field>
        <button (click)="registerUser()" mat-button class="green-button full-width align-center">Register</button>
      </form>
    </div>
    <div *ngIf="isAuthorized" class="fields-box">
      <div class="two-column-field">
        <h1 class="fields-box full-width align-center">Welcome!</h1>
        <button (click)="back()" mat-button class="green-button full-width align-center">Back</button>
      </div>
    </div>

  </div>
</div>
